aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
.deps/
install-sh
m4/
Makefile
Makefile.in
missing
stamp-h?

*.o
*~
build/
bin/

src/RIsearch
src/RIsearch_dbg
src/risearch2
src/risearch2_dbg
