aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
.deps/
install-sh
m4/
Makefile
Makefile.in
missing
stamp-h?

*.o
*~

RIsearch1/src/RIsearch
RIsearch1/src/RIsearch_dbg
RIsearch2/src/risearch2
RIsearch2/src/risearch2_dbg
